/* global variables */
:root {
  /* color pallette */
  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-primary-800: hsla(229, 47%, 17%, 1);
  --clr-primary-700: hsla(228, 43%, 20%, 1);
  --clr-primary-400: hsla(230, 50%, 58%, 0.3);
  --clr-primary-300: hsla(229, 36%, 39%, 1);
  --clr-primary-200: hsla(229, 21%, 53%, 1);
  --clr-accent-400: hsla(147, 93%, 43%, 1);
  --clr-secondary-400: hsla(229, 78%, 60%, 1);

  /* font */
  --ff-base: "Outfit", sans-serif;
  --ff-lato: "Lato", sans-serif;

  /* font weights */
  --fw-thin: 100;
  --fw-regular: 300;
  --fw-semi-bold: 400;
  --fw-bold: 700;

  /* font sizes */
  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-700: 2rem;
}

/* prevent overflow */
img,
svg,
picture,
video {
  max-width: 100%;
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* light dark uses user preference */
  color-scheme: dark;
}

body {
  /* set defaults for document */
  color: var(--clr-neutral-100);
  font-family: var(--ff-base);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  line-height: 1.5;
  background-color: var(--clr-primary-700);
  margin: 0;
}

a:link {
  color: var(--clr-neutral-100);
  text-decoration: none;
}
a:visited {
  color: var(--clr-neutral-100);
  text-decoration: none;
}

/* for screen readers */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: aboslute;
  white-space: nowrap;
}

.main-grid {
  display: grid;
  /* set up two columns, second one auto width */
  grid-template-columns: 15rem auto;
  /* make grid items fill out empty space */
  grid-auto-flow: dense;
  /* align nav in center of screen dvh is mobile */
  /* vh is if browser doesn't support dvh */
  min-height: 100vh;
  min-height: 100dvh;
  align-items: center;
}

main {
  /* set main text to be on right */
  grid-column: 2;
  /* calc size to be full width minus whatever nav is */
  width: calc(100vw - 18rem);
}

aside {
  position: fixed;
  /* set nav to be on left */
  grid-column: 1;
  /* set nav to stretch to whole height of screen */
  /* gives height control to the ul class */
  align-self: stretch;
}

/* adjust font awesome placement */
.fas {
  margin-top: 0.5rem;
}

.fa-brain:hover,
.bi-house-door-fill:hover,
.bi-gear-wide-connected:hover,
.bi-chat-dots-fill:hover,
.bi-brush-fill:hover,
.bi-envelope-fill:hover {
  color: var(--clr-secondary-400);
}
/* active elements */
.fa-brain-active,
.bi-house-door-fill-active,
.bi-gear-wide-connected-active,
.bi-chat-dots-fill-active,
.bi-brush-fill-active,
.bi-envelope-fill-active {
  text-shadow: 0px 0px 2rem var(--clr-neutral-100);
}

.eyebrow {
  color: var(--clr-secondary-400);
  font-size: var(var(--fs-300));
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 0;
}

.section-title {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 0.75rem;
}

.summary {
  margin-bottom: 1.25rem;
}

.home-banner {
  /* Thank you Mitchell Luo on Unsplash for the background photo */
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("test.jpg");
  background-size: cover;
  padding: 4.75rem 7rem 4rem 5rem;
  margin-top: 1.5rem;
  /* background-position: 0 50px; */
  z-index: -2;
  position: relative;
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 100, 0.4);
}

.image-box {
  flex-basis: 40%;
  transform: translateY(-1rem);
}
.profile {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 15px var(--clr-primary-400);
}

.home-banner p {
  flex-basis: 60%;
  font-size: var(--fs-700);
  font-family: var(--ff-lato);
  font-weight: var(--fw-thin);
  text-align: right;
}

#home,
#industry-experience,
#proficiencies,
#soft-skills,
#portfolio,
#contact {
  min-height: 100vh;
  padding-top: 3.5rem;
}

/* make job experience layout sideways */
.experience {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  /* get rid of whole site scroll bar */
  overflow-x: auto;
  /* set scrollbar color for firefox (not support webkit scrollbar) */
  scrollbar-color: var(--clr-accent-400) var(--clr-primary-800);
  /* space between entries and scroll bar */
  padding-bottom: 2rem;
}

/* change scroll bar look */
.experience::-webkit-scrollbar {
  height: 0.75rem;
}
.experience::-webkit-scrollbar-track {
  background-color: var(--clr-primary-800);
}
.experience::-webkit-scrollbar-thumb {
  background-color: var(--clr-accent-400);
  border-radius: 100vw;
}

.role {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
}

.company {
  font-weight: var(--fw-semi-bold);
}

.year {
  color: var(--clr-accent-400);
}

.job {
  background-color: var(--clr-primary-800);
  padding: 2rem;
  border-radius: 0.25rem;
  width: 25rem;
}

/* layout for nav */
.icon-list {
  height: 100vh;
  border-left: 2px solid var(--clr-neutral-100);
  /* make the line fit the whole nav */
  margin: 0;
  /* remove auto padding for lists */
  padding: 0;
  margin-left: clamp(3rem, 7vw, 10rem);
  display: grid;
  gap: 3rem;
  list-style: none;
  align-content: center;
}

/* make position relative so that active dot can be inserted properly */
.icon-list > li {
  position: relative;
  /* manually set gap between dot and icon */
  padding-left: 3rem;
}

.icon-list > li::before {
  /*set a variable so dot position can be calculated */
  --_size: 0.5rem;

  top: calc(50% - var(--_size) * 0.5);
  /* left is -.5 of width so that it sits directly on line */
  /* 1px is to account for width of line */
  left: calc((var(--_size) * -0.5) - 1px);
  content: "";
  width: var(--_size);
  /* make it a circle! */
  aspect-ratio: 1 / 1;
  background: var(--clr-neutral-100);
  position: absolute;
  border-radius: 50%;
}
.icon-list > li:hover::before {
  background: var(--clr-secondary-400);
}
.li-active::before {
  /*set a variable so dot position can be calculated */
  --_size: 0.5rem;

  top: calc(50% - var(--_size) * 0.5);
  /* left is -.5 of width so that it sits directly on line */
  /* 1px is to account for width of line */
  left: calc((var(--_size) * -0.5) - 1px);
  content: "";
  width: var(--_size);
  /* make it a circle! */
  aspect-ratio: 1 / 1;
  background: var(--clr-neutral-100);
  position: absolute;
  border-radius: 50%;
  /* make bigger circle */
  outline: calc(var(--_size) * 1) solid var(--clr-primary-400);
}
